@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("../public/fonts/Pretendard-Bold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("../public/fonts/Pretendard-SemiBold.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("../public/fonts/Pretendard-Medium.subset.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Pretendard-Regular.subset.woff2") format("woff2");
}